# Data
Data/Raw/
Data/Filtered/

# Shiny
apps/

# Notes
Notes/

# taxaonomic databases
Taxonomy/

# Big files
Output/16S_ML_Distance.RDS

# igraph plots (one for each sample)
Output/figs/igraphs/
network_plots/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/


# Other stuff (big files)
Output/figs/16S_Barplot_Phylum.RDS
Taxonomy/combined_pr2-maarjam_reference.fasta
Taxonomy/pr2_version_5.0.0_SSU_dada2.fasta
.git/objects/pack/pack-f5b4369b4c1345bce0b1d9967d5a64b922e81330.pack

Output/figs/16S_Barplot_Phylum.RDS
Output/16S_ML_Distance.RDS
Output/figs/ALL_guild_plots.tiff
Output/ITS_SpiecEasi_out.RDS

Output/16S_ML_Distance.RDS
Output/figs/ALL_guild_plots.tiff
Output/figs/manuscript_versions/Inoculum_Barplot_16S.tiff
Output/figs/manuscript_versions/16S_successful_vs_unsuccessful_taxa_breakdown.tiff
Output/figs/manuscript_versions/Successful_vs_Unsuccessful_Inoculum_Taxa_Final.tiff
Output/figs/manuscript_versions/ITS_successful_vs_unsuccessful_taxa_breakdown.tiff
Output/figs/manuscript_versions/Inoculum_Barplot_ITS.tiff
Output/figs/manuscript_versions/Inoculum_Barplot_18S.tiff
Output/figs/manuscript_versions/16S_successful_vs_unsuccessful_taxa_breakdown_withlines.tiff
Output/figs/manuscript_versions/18S_successful_vs_unsuccessful_taxa_breakdown.tiff
Output/figs/16S_Barplot_Phylum.RDS
Output/ITS_SpiecEasi_out.RDS
.git/objects/0a/c5555a982efcdc9fe756cc38a45123503a7793
.git/objects/pack/pack-a6966756dbfdf0fc4a2a87b92d5b7defaf3cfc97.pack
.git/objects/pack/pack-a3ec0578411bbf6176aac96aef025f58395de69d.pack
Taxonomy/combined_pr2-maarjam_reference.fasta
Taxonomy/Eukaryome_General_SSU_v1.8.fasta.gz
Taxonomy/pr2_version_5.0.0_SSU_dada2.fasta.gz
Taxonomy/Eukaryome_General_SSU_v1.8.reformat.fasta.gz
MBList.xlsx
